<!DOCTYPE html>
<html>
<head>
    <title>{{.PageTitle}}</title>
</head>
<body>
        <div>
            <form method="POST" action="/wishlist/{{.WishlistItem.ID}}/edit">
                <label for="itemname">Item Name:</label>
                <input type="text" id="itemname" name="itemname" value={{.WishlistItem.ItemName}}>
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" value={{.WishlistItem.Price}}>
                <label for="url">Link:</label>
                <input type="text" id="url" name="url" value={{.WishlistItem.Url}}>
                <label for="user">User:</label>
                <input type="text" id="user" name="user" value={{.WishlistItem.UserId}}>
                <input type="submit" value="Submit">
            </form>
        </div>
</body>
</html>
