<!DOCTYPE html>
<html>
<head>
    <title>{{.PageTitle}}</title>
</head>
<body>
        <div>
            <form method="POST" action="/wishlist">
                <label for="itemname">Item Name:</label>
                <input type="text" id="itemname" name="itemname">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price">
                <label for="url">Link:</label>
                <input type="text" id="url" name="url">
                <label for="user">User:</label>
                <input type="text" id="user" name="user">
                <input type="submit" value="Submit">
            </form>
        </div>
    <h1>{{.PageTitle}}</h1>
    <ul>
    {{range .WishlistItems}}
        <li>
            <strong>{{.ItemName}}</strong> - ${{.Price}}
            <br><a href="{{.Url}}">{{.Url}}</a>
                <form method="POST" action="/wishlist/{{.ID}}/delete">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <button type="submit">DELETE</button>
                </form>
                <a href="/wishlist/{{.ID}}/edit">Edit</a>
        </li>
    {{end}}
    </ul>
</body>
</html>
